<div class="search">
  <form>
    <input type="text" placeholder="Search City" />
  </form>
</div>

@if(weatherData){
<div class="container">
  <div class="upper-data">
    @if (weatherData.main.temp > 20) {
    <img src="/assets/summer.jpg" alt="Warm Weather" />
    } @else if (weatherData.main.temp <= 20) {
    <img src="/assets/cold.jpg" alt="Cold Weather" />
    }
    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">
        {{ weatherData.main.temp | number : "1.0-0" }}º C
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="info-label">More Information</div>
    <div class="info-container">
      <div class="info-content">
        <div class="info-stats">
          <img src="/assets/max.png" />
          <span>Feels Like</span>
        </div>
        <div class="info-value">
          {{ weatherData.main.feels_like | number : "1.0-0" }}º C
        </div>
      </div>
      <div class="info-content">
        <div class="info-stats">
          <img src="/assets/min.png" />
          <span>Min Temp</span>
        </div>
        <div class="info-value">
          {{ weatherData.main.temp_min | number : "1.0-0" }}º C
        </div>
      </div>
      <div class="info-content">
        <div class="info-stats">
          <img src="/assets/humid.png" />
          <span>Humidity</span>
        </div>
        <div class="info-value">
          {{ weatherData.main.humidity | number : "1.0-0" }}%
        </div>
      </div>
      <div class="info-content">
        <div class="info-stats">
          <img src="/assets/wind.png" />
          <span>Wind</span>
        </div>
        <div class="info-value">
          {{ weatherData.wind.speed | number : "1.0-0" }} KM/PH
        </div>
      </div>
    </div>
  </div>
</div>
}

<router-outlet />
